import s from "./style.module.css";
import { $counter } from "../../stores/demo.ts";

<store/count=$counter/>

<div class=s.counterCard>
  <p class=s.cardLabel>Component A — increments</p>
  <span class=s.count>${count}</span>
  <button class=s.btn onClick() { count++ }>+ Increment</button>
</div>
