import s from "./style.module.css";
import { $message } from "../../stores/demo.ts";

<store/message=$message/>

<div class=s.sharedCard>
  <p class=s.cardLabel>Component B — reads from store</p>
  <p class=s.value>${message}</p>
</div>
