import s from "./style.module.css";

export interface Input {
    defaultCount: number;
}

<let/count=input.defaultCount>

<div class=s.hello>
    <p>Hello!</p>
    <button onClick() {
        count++;
    }>
        The count is ${count}
    </button>
</div>

<script>console.log("hello!");</script>
