import s from "./style.module.css";

<let/count=0>

<div class=s.hello>
    <p>Hello!</p>
    <button onClick() {
        count++;
    }>
        The count is ${count}
    </button>
</div>

<script>console.log("hello!");</script>
