import s from "./style.module.css";
import { $counter } from "../../stores/demo.ts";

<store/count=$counter/>

<div class=s.counter>
  <span class=s.count>${count}</span>
  <div class=s.controls>
    <button class=s.btn onClick() { count-- }>−</button>
    <button class=`${s.btn} ${s.btnReset}` onClick() { count = 0 }>Reset</button>
    <button class=s.btn onClick() { count++ }>+</button>
  </div>
</div>
